.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    
}

.navbar-logo {
    color: white;
    font-size: 1.5em;
    flex: 1;  /* Take up 50% of the space */
}

.navbarMenu {
    display: flex;
    list-style: none;
    flex: 1;  /* Take up 50% of the space */
    justify-content: flex-end;  /* Space the items evenly */
}

.navbarItem {
    margin-left: 2em;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu {
        flex-direction: column;
        margin-top: 1em;
    }

    .navbar-item {
        margin-bottom: 1em;
    }
}
